

h1::after{
	content: "\260E";
	

}
#book{
	background-color: #EEEEEE;
	
}
#outer {
	background-color :white;
	
	width: 100%;
	height: 60px;
	
	position: sticky;
	top:10px;
}
#inner{
background-color :blue;
	width: 50px;
	height: 50px;
	border:2px;
	border-radius:50%; 
	text-align: center;
	font-size: 45px;
	
}
ul{
	border: 2px solid lightgreen;
	width: 800px;
	background-color: #FFE3E3;
}
li{
	list-style: none;
	display: inline-block;


}
li{
	font-size: 30px;
}
li:nth-of-type(n+2){
	position:relative;
	left: 60%;
	
}
li:nth-of-type(n+2):hover{
	
	background-color: lightblue;
	border-radius: 50%;
}



